---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle = {pageTitle}>
  <section>
    <h2>About Me</h2>
    <p>I am a software engineering student at Allegheny College, who is involved in many clubs and organizations around campus such as Student Government, Ultimate Frisbee, and the campus newspaper.</p>
  </section>
</BaseLayout>