---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Contact";
---
<BaseLayout pageTitle = {pageTitle}>
  <section>
    <h2>Contact Me</h2>
    <p>You can contact me at my email address: <a href="thompson09@allegheny.edu">thompson09@allegheny.edu</a></p>
    </section>