---
import BaseLayout from '../layouts/baselayout.astro';
const pageTitle = "Experience and Skills";
---
<BaseLayout pageTitle = {pageTitle}>
  <section>
    <h2>Experience and Skills</h2>
    <p>I have experience with programming languages such as Java, Python, and C++. I have also worked on projects involving web development using HTML, CSS, and JavaScript.</p>
  </section>