---
const pageTitle = "Home";
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<BaseLayout pageTitle={pageTitle}>
    <section>
        <title>Home</title>
        <h1>Welcome to my website!</h1>
        <p>My name is Brandon Thompson and I am a software engineering student at Allegheny College.</p>
        <img src="/img/Brandon.JPG" width="300" alt="A picture of Brandon Thompson" />
    </section>
</BaseLayout>
