---
const pageTitle = "Home";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle = {pageTitle}>
    <!-- astro <slot /> -->
<section>
    <title>Home</title>
    <h1>Welcome to my website!</h1>
    <p>My name is Brandon Thompson and I am a software engineering student at Allegheny College.</p>
    <img src="/public/Brandon.JPG" width="300" alt="A picture of Brandon Thompson" />
    <nav>
        <ul>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <footer>
            <p>&copy; 2026 Brandon Thompson</p>
        </footer>
</section>
</BaseLayout>