---
<<<<<<< HEAD
---
<footer>
    <!-- [Text of link](URL of link) -->
    <a href = "https://github.com/BrandonT578">Github</a>
=======
const platform = "github"
const username = "BrandonT578"
---
<footer>
    <p>{new Date().getFullYear()} WebCo</p>
>>>>>>> 327e920a2c205f94988814883c6d2013f5fadb52
</footer>