---
const platform = "github"
const username = "BrandonT578"
---
<footer>
    <p>{new Date().getFullYear()} WebCo</p>
    <p>
        <a href={`https://${platform}.com/${username}`} target="_blank" rel="noopener noreferrer">
            {platform.charAt(0).toUpperCase() + platform.slice(1)}
        </a>
    </p>
</footer>
