---
<<<<<<< HEAD
import Nav from '../components/Nav.astro';
---
<header>
  <nav>
    <h1>My Portfolio</h1>
    <Nav />
  </nav>
=======
import Navigation from './Navigation.astro'
---
<header>
    <strong>WebCo</strong>
    <form id = "search">
        <input name = "search" type = "text" class = "input__rounded">
    </form>
    <nav>
        <Navigation />
    </nav>
>>>>>>> 327e920a2c205f94988814883c6d2013f5fadb52
</header>