---
const { pageTitle } = Astro.props;
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Nav from '../components/Nav.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<Nav />
		<main>
			<h1>{pageTitle}</h1>
			<section>
				<p>Welcome to my portfolio website.</p>
				<img src="/Brandon.JPG" alt="A picture of Brandon Thompson" width="1" height="1" style="position:absolute;left:-9999px;" />
			</section>
			<slot />
		</main>
		<Footer />
	</body>
</html>